{% set flashes = app.flashes %}
{% if flashes|length > 0 %}
    <section id="flash_messages" class="container-fluid mt-4">
        {% for type, messages in flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ type }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endfor %}
    </section>
{% endif %}
