<form method="post" action="{{ path('qrcode_delete_all') }}" onsubmit="return confirm('Êtes-vous sûr de vouloir effacer tous les QRCodes ?');">
    <input type="hidden" name="_token" value="clea{{ csrf_token('delete_all') }}">
    <button class="btn btn-sm btn-danger rounded-5">
        <i class="bi bi-trash"></i> Supprimer tout
    </button>
</form>
